body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.mp-uiRoot {
    display: flex;
    flex-flow: column;
    height: inherit;
}

.mp-uiHeader {
    flex: 0 0 auto;
    margin: 10px 10px 0px 10px;
}

.mp-uiFooter {
    flex: 0 0 auto;
    margin: 0px 10px 10px 10px;
}

.mp-hidden {
    display:none;
}

.mp-cardEditor {
    display: flex;
    height: 100%;
    min-height: 0;
    margin: 10px;
}

.mp-markup {
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    margin-right: 10px;
    overflow: auto;
}

.mp-markupFooter {
    flex: 0 0 50px;
    background-color: red;
}

.mp-markupRenderContainer {
    flex: 1 1 50%;
    overflow: auto;
    margin-left: 10px;
}

.mp-markupRender {
    margin-right: 20px;
    margin-bottom: 20px;
}

.mp-markup #editor {
    flex: 1 1 auto;
    box-sizing: border-box;
    resize: none;
    white-space: nowrap;
    overflow: auto;
    border: 1px solid #F1F1F1;
}

.mp-button {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 4px 10px 5px 10px;
    min-width: 80px; 
    text-align: center;
    vertical-align: middle;  
    cursor: default;
    background-color: #0078D7;
    color: white;    
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.mp-button:hover {
    background-color: #005A9E;
}

.mp-button:active {
    background-color: #004D84;
}

.mp-select {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
}